h1{
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 4rem;
}

p{
    font-family: "Karla", sans-serif;
    font-size: 2.4rem;
    font-weight: 300;
}

body{
    padding: 1.6rem 1.5rem 0.8rem 1.5rem;
    background-color: #FAFAFA;
    background-image: url(./img/background.svg);
    background-position: right;
    background-repeat: no-repeat;
    position: relative;
}

header{
    text-align: center;
}

header h1{
    margin-top: 2.4rem;
}

header span{
    color: red;
}

.content{
    margin-top: 3.2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.content p{
    display: none;
}

.content span{
    font-weight: 500;
}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}


.buttons button{
    width: 100%;
    background-color: red;
    padding: 1rem 0;
    border: 0px;
    border-radius: 1.6rem;
    font-family: "Lato", sans-serif;
    font-size: 2.4rem;
    color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.buttons a{
    width: 100%;
    text-decoration: none;
    font-size: 1.8rem;
    color: black;
    font-family: "Lato", sans-serif;
    background-color: white;
    border-radius: 1.6rem;
    padding: 1rem 0;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;

}

.buttons a img{
    max-width: 3.2rem;
    margin-right: 0.8rem;
    display: inline-block;
}


.content .van img{
    max-width: 100%;
    margin-top: 4.8rem;
}

footer{
    display: flex;
    flex-direction: row-reverse;
}

footer p{
    font-size: 1.6rem;
    font-weight: 300;
    font-family: "Karla", sans-serif;
    margin-top: 4.8rem;
}

.contact-form-container{
    background-color: white;
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:3.2rem 2.4rem;
    max-width: 600px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
}


.contact-form{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 3.2rem;
    position: relative;
}

.contact-form-container .close img{
    max-width: 3.2rem;
    position: absolute;
    top: 2.4rem;
    right: 1.5rem;
}

.contact-form-container img{
    max-width: 19.2rem;
    margin: 0 auto;
}

.contact-form-container p{
    font-size: 3.2rem;
    text-align: center;
    margin-top: 3.2rem;
}


.contact-form input{
    font-size: 2rem;
    border: 0;
    border-radius: 1.6rem;
    padding-left: 0.8rem;
    height: 3.2rem;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    min-height: 4.8rem;
}

.contact-form button{
    background-color: #E00010;
    min-height: 4.8rem;
    border-radius: 1.6rem;
    border: 0;
    font-size: 2.4rem;
    color: white;
}

@media only screen and (min-width: 600px){
    body{
        background-position: center;
        background-size: cover;
        padding: 4vw 1.5rem 4vw 1.5rem;
    }
    body > *{
        max-width: 1200px;
        margin: 0 auto;
    }
    header{
        text-align: left;
    }

    header h1{
        font-size: 9.6rem;
    }

    .content button, a{
        max-width: 36.8rem;
    }

    .content{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .content p{
        grid-column: span 2;
        text-align: left;
        max-width: 57.6rem;
    }



    .content .van img{
        max-width: 57.6rem;
    }
}